body{
    background-color: #F7F6F2;
    font-family: Arial, sans-serif;
    color: #333333;
    padding: 0;
    margin: 0;
}
.header-container{
    background-image: url("https://images.unsplash.com/photo-1757752462906-62c319c5082d?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 600px;
    padding: 50px;
}



#search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:  wrap;
    border-radius: 3px;
    background-color: #F5E6D3;
    height: 50vh;
    overflow: visible;
}
.search-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;

}
#search-input{
    background-color: #F7F6F2;
    border: 1px solid #2E7D32;
    color: #333333;
    width: 50%;
}

#suggestions-list {
    position: absolute;
    background: #fff;
    border: 1px solid #2E7D32;
    border-top: none;
    width: 50%; /* igual que el input */
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    left: 25%; /* centra bajo el input si el input está centrado */
    list-style: none;
    margin: 0;
    padding: 0;
}

#suggestions-list li {
    padding: 8px 12px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background: #A5D6A7;
}

.button{
    background-color: #2E7D32;
    color: #F5E6D3 ;
    padding: 5px 10px;
    border: none;
    
}
.button:hover{
    background-color: #A5D6A7;
    color: #333333;
    transform:scale(1,1.15);
    cursor: pointer;
    border-radius: 3px;
}